@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

a,
button {
  outline: none;
}

body {
  height: 100%;
  margin: 0;
}

.visually-hidden, .portfolio__main-idea, .advantages .section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.top-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
  /* position: relative; */
}
.top-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
}
.top-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  flex-basis: 520px;
  column-gap: 25px;
}
@media (max-width: 670px) {
  .top-header__nav {
    flex-basis: 100%;
  }
}
.top-header__contact-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
@media (max-width: 950px) {
  .top-header__contact-list {
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
  }
}
@media (max-width: 670px) {
  .top-header__contact-list {
    display: none;
  }
}

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  display: inline-block;
}

.nav__logo_part {
  color: #000;
}
.nav__btn {
  display: none;
}
@media (max-width: 670px) {
  .nav__btn {
    display: block;
  }
}
.nav__menu-list {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  vertical-align: middle;
}
@media (max-width: 670px) {
  .nav__menu-list {
    display: none;
  }
}

.menu-list__item {
  font-size: 0;
  position: relative;
}
.menu-list__link {
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.menu-list__link:hover, .menu-list__link:focus {
  color: #2196f3;
}
.menu-list__link:hover::after, .menu-list__link:focus::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: all 2s;
  background-color: #2196f3;
}

.contact-list__item {
  font-size: 0;
  white-space: nowrap;
}
.contact-list__link {
  display: inline-block;
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  vertical-align: middle;
}
.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}
.contact-list__link_svg {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.contact-list__link:hover .contact-list__link_svg path, .contact-list__link:focus .contact-list__link_svg path {
  fill: #2196f3;
}

.slide-menu__form {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 500ms;
  height: 100vh;
  padding: 48px 40px;
  z-index: 3;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}
@media (max-width: 1200px) {
  .slide-menu__form {
    display: none;
  }
}
@media (max-width: 670px) {
  .slide-menu__form {
    display: block;
  }
}
.slide-menu__form:target {
  transform: translateX(0%);
}
.slide-menu__form_close {
  position: absolute;
  top: 25px;
  right: 18px;
}
.slide-menu__form:target {
  transform: translateX(0%);
}
.slide-menu__form-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 0;
  margin-bottom: 302px;
}
.slide-menu__item {
  font-size: 0;
}
.slide-menu__contact-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.slide-menu__social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.slide__menu-link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.slide__contact-link {
  color: #212121;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.contact-list__item {
  font-size: 0;
}

.social-list__item {
  border: 1px solid #212121 20%;
}
.social-list__link {
  display: inline-block;
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
  padding-inline: 10px;
}

.form-window {
  display: none;
}
.banner {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/bg-color-banner-opt.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}
.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 48, 58, 0.4);
  z-index: 0;
}

.site-idea {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 0;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .site-idea {
    max-width: 360px;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 1.56px;
  }
}

.primary-button {
  display: inline-block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  background-color: #2196f3;
  position: relative;
  z-index: 1;
}
.primary-button:hover, .primary-button:focus {
  background-color: #188ce8;
}

.advantages {
  padding-top: 94px;
}
@media (max-width: 768px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.advantages__item {
  flex: 0 1 270px;
}
@media (max-width: 1199px) {
  .advantages__item {
    flex: 1 1 34%;
  }
}
@media (max-width: 480px) {
  .advantages__item {
    flex: 1 1 100%;
    text-align: center;
  }
}
.advantages__box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  background-color: #f5f4fa;
}
.advantages__item-logo {
  display: inline-block;
  box-sizing: content-box;
  font-size: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
}
.advantages__title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.advantages__decsr {
  font-size: 14px;
  color: #757575;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.section-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-top: 0;
}

.company-product {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media (max-width: 768px) {
  .company-product {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.company-product__title {
  margin-bottom: 50px;
}
.company-product__list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  /* flex-wrap: wrap; */
  flex: 0 1 auto;
}
.company-product__item {
  position: relative;
}

.product__item-case {
  margin: 0;
}
.product__item-case img {
  max-width: 100%;
  object-fit: cover;
}
.product__item-case-title {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
}

.company-product-title-img {
  display: block;
}

.company-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
@media (max-width: 768px) {
  .company-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.company-team__title {
  margin-bottom: 50px;
}

.person__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.person__profile {
  padding-top: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 30px;
}
@media (max-width: 1199px) {
  .person__profile {
    flex: 1 1 34%;
  }
}
@media (max-width: 600px) {
  .person__profile {
    flex: 1 1 100%;
  }
}
.person__photo {
  width: 100%;
  object-fit: contain;
  display: inline-block;
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
}
.person__id {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.person__position {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  display: block;
  margin-bottom: 16px;
}
.person__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.person__social-item {
  display: flex;
  position: relative;
}
.person__social-svg {
  position: absolute;
  top: 12px;
  left: 12px;
}
.person-social-link:hover .person__social-svg path, .person-social-link:focus .person__social-svg path {
  fill: #fff;
}

.person-social-link {
  white-space: none;
}
.person-social-link:hover .bg__social-svg path, .person-social-link:focus .bg__social-svg path {
  fill: #2196f3;
}

.cooperate {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media (max-width: 768px) {
  .cooperate {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.cooperate__companies-list {
  display: flex;
  justify-content: center;
  gap: 30px 30px;
  margin-top: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
}
.cooperate__company-item {
  flex: 0 1 14%;
}
@media (max-width: 1199px) {
  .cooperate__company-item {
    flex: 1 1 28%;
  }
}
@media (max-width: 480px) {
  .cooperate__company-item {
    flex: 1 1 37%;
  }
}
.cooperate__company-link {
  display: block;
}
.cooperate__company-link:hover svg path, .cooperate__company-link:focus svg path {
  fill: #2196f3;
}
.cooperate__company-link-logo {
  display: block;
  box-sizing: content-box;
}

.company-logo-box {
  box-sizing: content-box;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cooperate__company-link:hover .company-logo-box, .cooperate__company-link:focus .company-logo-box {
  border-color: #2196f3;
}

.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media (max-width: 768px) {
  .portfolio__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.projects__filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
@media (max-width: 620px) {
  .projects__filter {
    justify-content: start;
  }
}
.projects__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 25px;
}

.project__item {
  position: relative;
  flex-basis: 370px;
  flex: 1 1 31%;
}
.project__item::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  color: #fff;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.54px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
@media (max-width: 768px) {
  .project__item::before {
    padding-top: 50px;
  }
}
@media (max-width: 480px) {
  .project__item::before {
    padding-top: 30px;
  }
}
.project__item:hover::before {
  display: block;
}
.project__item:nth-of-type(1):before {
  content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
}
@media (max-width: 1000px) {
  .project__item {
    flex: 1 1 48%;
  }
}
@media (max-width: 768px) {
  .project__item {
    flex: 1 1 35%;
  }
}
@media (max-width: 670px) {
  .project__item {
    flex: 1 1 100%;
  }
}
.project__item-link:hover > *, .project__item-link:focus > * {
  color: #2196f3;
}
.project__img {
  object-fit: cover;
  display: block;
  width: 100%;
}
.project__item-name {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
}
.project__item-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
  margin-left: 24px;
  margin-right: 24px;
  display: block;
}

.filter-item-choose {
  border-radius: 4px;
  background: #f5f4fa;
  border: 0;
  padding: 6px 22px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
  cursor: pointer;
  transition: 0.4s;
}
.filter-item-choose:hover, .filter-item-choose:focus {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
}

.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.site-footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1065px) {
  .site-footer__container {
    row-gap: 60px;
  }
}
.site-footer__logo {
  margin-bottom: 20px;
}
.site-footer__logo_part {
  color: #fff;
}
.site-footer__box-title {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
}

@media (max-width: 1065px) {
  .address-box {
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .address-box {
    width: 100%;
  }
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
}
.address__item {
  font-size: 0;
}
.address__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}
.address__link_coord {
  color: #fff;
}

.social-box {
  padding-top: 12px;
}
@media (max-width: 1065px) {
  .social-box {
    padding-top: 0;
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .social-box {
    width: 100%;
  }
}
.social-box__list {
  display: flex;
  justify-content: center;
  gap: 0 10px;
}
.social-box__item {
  font-size: 0;
}
.social-box__link {
  font-size: 0;
  display: inline-block;
  position: relative;
}
.social-box__link:hover .social-box__link_bg path, .social-box__link:focus .social-box__link_bg path {
  fill: #2196f3;
  fill-opacity: 1;
}
.social-box__link_logo {
  position: absolute;
  top: 12px;
  left: 12px;
}

.title {
  display: inline-block;
}

.subscribe-box {
  padding-top: 12px;
}
@media (max-width: 1065px) {
  .subscribe-box {
    padding-top: 0;
    text-align: center;
    width: 100%;
  }
}
.subscribe-box__form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  max-width: 570px;
  gap: 12px;
}
@media (max-width: 768px) {
  .subscribe-box__form {
    flex-direction: column;
    text-align: center;
    max-width: 450px;
  }
}
@media (max-width: 480px) {
  .subscribe-box__form {
    row-gap: 20px;
  }
}
.subscribe-box__email-input {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  flex-grow: 1;
}
.subscribe-box__button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #2196f3;
  border: 0;
}
@media (max-width: 768px) {
  .subscribe-box__button {
    align-self: center;
  }
}
.subscribe-box__button:hover, .subscribe-box__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-box__button-svg {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  background: #188ce8;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}